.celebrateContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem 7vw;

  h2 {
    width: 95%;
    text-align: left;
    color: var(--primary-1);
    padding-bottom: 0.5rem;
  }
  img {
    width: 75%;
    align-self: center;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  em {
    color: var(--primary-1);
    font-size: 1.3rem;
    font-weight: 700;
  }
  button {
    width: 75vw;
    font-size: 1.4rem;
    align-self: center;
  }
}
