.nameNumberContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 4rem 7vw;

  h2 {
    width: 95%;
    text-align: left;
    color: var(--primary-1);
    padding-bottom: 2.5rem;
  }
  img {
    padding: 3rem 0;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  em {
    color: var(--primary-1);
    font-size: 1.3rem;
    font-weight: 700;
  }
  button {
    width: 75vw;
    font-size: 1.4rem;
  }
  .inputs {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .label {
    font-weight: 600;
  }
  input {
    font-size: 1.3 rem;
    font-family: var(--content-font);
    height: 30px;
    color: var(--primary-1);
    background-color: var(--primary-2);
    border-radius: 1rem;
    border: solid 2px var(--primary-1);
  }
}
