.pzzzownalityContainer {
  padding: 3vh 2vw;
  h2 {
    width: 95%;
    text-align: left;
    color: var(--primary-1);
    margin-bottom: 3rem;
  }
  img {
    padding: 3rem 0;
  }
  em {
    color: var(--primary-1);
    font-size: 1.4rem;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .label {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  input {
    font-family: var(--content-font);
    font-size: larger;
    height: 50px;
    color: var(--primary-1);
    background-color: var(--primary-2);
    border-radius: 1.4rem;
    border: solid 2px var(--primary-1);
    margin-bottom: 0.8rem;
  }
  .pzzzowInputs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  label {
    font-family: var(--content-font);
    font-size: large;
    width: 150px;
    padding: 0.5rem 1.3rem;
    color: var(--text);
    background-color: var(--primary-2);
    border-radius: 0.4rem;
    border: solid 2px var(--default);
    margin-right: 10px;
    text-align: center;
  }
  img {
    position: relative;
    z-index: 2;
    width: 100px;
  }

  .radio {
    display: none;
  }
  .radio:checked + label {
    border: solid 3px var(--text);
  }
  button {
    width: 75vw;
    font-size: 1.4rem;
    align-self: center;
  }
}
