.readyContainer {
  h2 {
    width: 95%;
    text-align: left;
    color: var(--primary-1);
  }
  img {
    padding: 2.5rem 0;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  em {
    color: var(--primary-1);
    font-size: 1.3rem;
    font-weight: 700;
  }
  button {
    width: 70vw;
    font-size: 1.4rem;
  }
}
